<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error-404</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <h1>
        Page not found!
    </h1>
    <h2>Please submit a request to a valid endpoint</h2>
    <a a id="home-page" th:href="@{/home}">Home</a>
</div>